@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* height of the container */
.leaflet-container {
  /* margin: 0 auto; */
  height: 90vh;
  width: 90%;
  border: 2px solid lightgray;
  border-radius: 1rem;
}